<h2 class="site-title">Main</h2>
<div class="site-text"> 
	<p>This your commando base from there you can see everything and everyone!</p>
</div>

<table height="99%" id="homeTable">
	<tr>
		<td rowspan="2" style="width: 444px; table-layout: fixed">
			<h2 class="site-title">Overview: <%= @wg %></h2>
			<div id="chartdiv"></div>
		</td>
		<td>
			<h2 class="site-title">Last Activities</h2>
			<div id="shoutcontainer">
				<div id="shoutcontent">
					<ul>
		                <% @last_activities.each do |f| %>
							<li>
								<div class="meta">
									<img src="<%= User.find(f.User_id).picture %>" width="20%" />
									<p><%= User.find(f.User_id).user_name %></p>
								</div>
								<div class="shout">
									<p><%= Task.find(f.Task_id).task_name %></p>
									<p><%= f.task_end.strftime("%Y-%m-%d") %></p>
								</div>
							</li>
		                <% end %>
					</ul>
				</div>
				<div id="shoutboxbot"></div>
			</div>


			<div>
				<h2 class="site-title">Shoutbox</h2>
				<div>

					<div id="shoutcontainer">
						<div id="shoutcontent">
				   			<div class="scrollbar" id="stylebar">
								<ul>
									<% @shouts.each do |shout| %>
									<li>
										<div class="meta">
											<img src="<%= User.find(shout.User_id).picture %>" width="20%" />
											<p><%= User.find(shout.User_id).user_name %></p>
										</div>
										<div class="shout">
											<p><%= shout.message %></p>
										</div>
									</li>
									<% end %>
								</ul>
							</div>
						</div>
						<div id="shoutboxbot"></div>

						<div id="shoutform">
							<%= form_for :shoutboxmessage, :url => { :action => 'create_shout' } do |f| %>
							<div><%= f.text_field :message, :placeholder => 'Tell me what u\'re thinking!', :class => "inputtextHome shoutdesc" %></div>
							<div class="placeholder"></div>
							<div><%= f.submit 'Shout!', :class => "signup" %></div>
							<% end %>
						</div>

                 <!--
                 	gravatar = 'http://www.gravatar.com/avatar.php?gravatar_id=' + Digest::MD5.hexdigest(h(shout.email.downcase)) + '&size=70' %>
                   <img src="%= gravatar %>" alt="Gravatar" />

					%= error_messages_for :shout, :header_message => nil, :message => nil %>
					%= '<p class="success">' + flash[:notice] + '</p>' if flash[:notice] %>
					% if flash[:notice] %>
					  %= '<p class="success">' + flash[:notice] + '</p>' %>
					% end %>

					% if flash[:notice] %>
					      <p class="notice">%= flash[: notice] %></p>
					    % end %>
					    % if flash[:error] %>
					      <p class="error">%= flash[: error] %></p>
					    % end %>
					-->
				</div>
			</div>
		</td>
	</tr>
</table>