<script type="text/javascript" src="./assets/amcharts.js"></script>
<script type="text/javascript" src="./assets/serial.js"></script>
<script type="text/javascript" src="./assets/none.js"></script>       

<script type="text/javascript">
	//convert username-string to hex and cut the result after 6 chars = personal hex color
	function personalHexColor(str) 
	{
		var hex = '';
		for(var i=0;i<str.length;i++) {
			hex += ''+str.charCodeAt(i).toString(16);
		}
		return "#" + hex.substring(0, 6);;
	}
</script>

<script type="text/javascript">
	AmCharts.makeChart("chartdiv",
	{
	    "type": "serial",
		"theme": "none",
	    "dataProvider": [{
			<% @balance.each_with_index do |k, index| %>
			        "name": "<%= k[0].user_name %>",
			        "points": <%= k[1] %>,
			        "color": personalHexColor("<%= k[0].user_name %>"),
			        "bullet": "<%= k[0].picture %>"
			    //if last one...
				<% if @balance.size == index+1 %>
					<%= concat "}]," %>
				<% else %>
					<% concat "}, {" %>
				<% end %>
			<% end %>
	    "valueAxes": [{
	        "maximum": <%= @max_credits %>,
	        "minimum": <%= @min_credits %>,
	        "axisAlpha": 0,
	        "gridAlpha": 0,
	        "dashLength": 0,
	        "position": "left"
	    }],
	    "startDuration": 1,
	    "graphs": [{
	        "balloonText": "<span style='font-size:13px;'>[[category]]: <b>[[value]]</b></span>",
	        "bulletOffset": 16,
	        "bulletSize": 34,
	        "colorField": "color",
	        "cornerRadiusTop": 8,
	        "customBulletField": "bullet",
	        "fillAlphas": 1.0, //alpha!
	        "lineAlpha": 0,
	        "type": "column",
	        "valueField": "points",
	        "bulletSize": 75
	    }],
	    "marginTop": 0,
	    "marginRight": 0,
	    "marginLeft": 0,
	    "marginBottom": 0,
	    "autoMargins": false,
	    "categoryField": "name",
	    "categoryAxis": {
	        "axisAlpha": 0,
	        "gridAlpha": 0,
	        "inside": true,
	        "tickLength": 0
	    }
	});
</script>