<h2 class="site-title">ADD A JOB</h2>

<div class="site-text"> 
	<p>If you have done something for you and your roomies: here you can share it to get credits!</p>
</div>

<%= form_for :completedtask, :url => { :action => 'create_job', :controller=>"job" } do |f| %>
	<table height="99%" width="100%" id="homeTable">
	<tr>
		<td>
			<h2 class="site-title">Member involved</h2>
			<div>
                <% controller.get_roomies.each do |f| %>
                    <%= check_box_tag(:user) %>
                    <%= label_tag(:user, f.user_name) %>
                    <br>
                <% end %>
			</div>
		</td>
		<td>
			<h2 class="site-title">Job properties</h2>
			<div class="placeholder"></div>
			<div>
				<div><%= f.date_field :task_end, :value => Date.today, :class => "inputtextHome" %></div>
				<div class="placeholder"></div>

                <%= f.select :task_id,  options_from_collection_for_select(controller.get_tasks, :id, :task_name) %>
					<div class="placeholder"></div>
					<div><%= f.text_field :amount, :class => "inputtextHome", :placeholder => "Amount (if needed)" %></div>
					<div class="placeholder"></div>
					<div><%= f.text_area :summary, :class => "inputtextHome taskdesc", :placeholder => "Comment" %></div>
					<div class="placeholder"></div>
					<div><%= f.submit "Get Credits!", :class => "signup" %></div>
				

               

				
			</td>
		</tr>
	</table>
<% end %>