<h2 class="site-title">MY PROFILE</h2>

<div class="site-text"> 
<p>This is your world, your own flat, your roomie profile! You can change your profile details or change your shared flat and switch to another one.</p>
</div>


<table height="99%" width="100%" id="homeTable">
	<tr>
		<td>

			<h2 class="site-title">Profile details</h2>
			<div class="placeholder"></div>
			<div>

				<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
					<div><%= f.text_field :user_name, :value => current_user.user_name, autofocus: false, :class => "inputtextHome", :placeholder => "Username" %></div>
					<div class="placeholder"></div>
					<!-- %= f.label : email %><br /> -->
					<%= f.email_field :email, :value => current_user.email, autofocus: false, :class => "inputtextHome", :placeholder => "Email" %></div>

					<% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
					<div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
					<% end %>

					<div class="placeholder"></div>
					<div><%= f.text_field :picture, :value => current_user.picture, autofocus: false, :class => "inputtextHome", :placeholder => "http://my_picutre.jpg" %></div>
					<div class="placeholder"></div>
					<div><%= f.password_field :password, autocomplete: "off", :class => "inputtextHome", :placeholder => "New Password" %></div>
					<div class="placeholder"></div>
					<div><%= f.password_field :password_confirmation, autocomplete: "off", :class => "inputtextHome", :placeholder => "Re-enter Password" %></div>
					<div class="placeholder"></div>
					<div class="placeholder"></div>
					<div><%= f.password_field :current_password, autocomplete: "off", :class => "inputtextHome", :placeholder => "Current Password" %></div>
					<div><i>we need your current password to confirm your changes</i></div>
					<div class="placeholder"></div>
					<div><%= f.submit "Update", :class => "signup" %></div>
				<% end %>

				<div class="placeholder"></div>
				<div class="placeholder"></div>

				<h2 class="site-title">Account cancellation</h2>
				<div class="site-text"> 
					Unhappy? :( 
					<div class="placeholder"></div>
					<!-- data: { confirm: "Are you sure?" } wont work => onclick alternative -->
					<%= button_to "Delete account", registration_path(resource_name), :onclick => "return confirm('Are you sure? You gonna delete your roomie account permanently :-/')", :class => "cancelacc", method: :delete %>
				</div>
				

			</div>
		</td>
		<td>

			<h2 class="site-title">CHOOSE YOUR DESTINY</h2>

			<br><br>

			<h2 class="site-title">Join an existing shared flat</h2>
			<div class="placeholder"></div>
			<div>
				<%= form_for :sharedappartment, :url => { :action => 'joinWG', :controller=>"profile" } do |f| %>
					<%= f.hidden_field :user, :value => current_user.user_name %>
					<div><%= f.text_field :name, autofocus: false, :class => "inputtextHome", :placeholder => "Shared flat name" %></div>
					<div class="placeholder"></div>
					<div><%= f.password_field :password, autocomplete: "off", :class => "inputtextHome", :placeholder => "Password" %></div>
					<div class="placeholder"></div>
					<div><%= f.submit "Join", :class => "signup" %></div>
				<% end %>
			</div>

			<br><br>

			<h2 class="site-title">Create a new shared flat</h2>
			<div class="placeholder"></div>
			<div>
				<%= form_for :sharedappartment, :url => { :action => 'createWG', :controller=>"profile" } do |f| %>
					<%= f.hidden_field :user, :value => current_user.user_name %>
					<div><%= f.text_field :name, autofocus: false, :class => "inputtextHome", :placeholder => "Shared flat name" %></div>
					<div class="placeholder"></div>
					<div><%= f.password_field :password, autocomplete: "off", :class => "inputtextHome", :placeholder => "Password" %></div>
					<div class="placeholder"></div>
					<div><%= f.submit "Create", :class => "signup" %></div>
				<% end %>
			</div>
		</td>
	</tr>
</table>