<h2 class="site-title">MY PROFILE</h2>

<div class="site-text"> 
<p>This is your world, your own flat, your roomie profile! You can change your profile details or change your shared flat and switch to another one.</p>
</div>


<table height="99%" width="100%" id="homeTable">
	<tr>
		<td>

			<h2 class="site-title">Profile details</h2>
			<div class="placeholder"></div>
			<div>
				<form method="post" action="" onsubmit="">
					<input type="text" class="inputtextHome" data-type="text" value="" placeholder="Username">
					<div class="placeholder"></div>
					<input type="password" class="inputtextHome" data-type="text" name="reg_passwd" placeholder="New Password" value="">
					<div class="placeholder"></div>
					<input type="text" class="inputtextHome" data-type="text" placeholder="Email" value="">
					<div class="placeholder"></div>
					<div class="placeholder"></div>
					<input type="text" class="inputtextHome" data-type="text" placeholder="Profile picture (URL)" value="">
					<div class="placeholder"></div>
					<button type="submit" class="signup" name="saveprofile">Save profile</button>
				</form>
			</div>
		</td>
		<td>

			<h2 class="site-title">CHOOSE YOUR DESTINY</h2>

			<br><br>

			<h2 class="site-title">Join an existing shared flat</h2>
			<div class="placeholder"></div>
			<div>
				<!-- @sharedappartment instead of :sharedappartment ? -->
				<%= form_for :sharedappartment, :url => { :action => 'joinWG' } do |f| %>
					<%= f.hidden_field :user, :value => current_user.UserName %>
					<div><%= f.text_field :name, autofocus: false, :class => "inputtextHome", :placeholder => "Shared flat name" %></div>
					<div class="placeholder"></div>
					<div><%= f.password_field :password, autocomplete: "off", :class => "inputtextHome", :placeholder => "Password" %></div>
					<div class="placeholder"></div>
					<div><%= f.submit "Join", :class => "signup" %></div>
				<% end %>
			</div>

			<br><br>

			<h2 class="site-title">Create a new shared flat</h2>
			<div class="placeholder"></div>
			<div>
				<!-- @sharedappartment instead of :sharedappartment ? -->
				<%= form_for :sharedappartment, :url => { :action => 'createWG' } do |f| %>
					<%= f.hidden_field :user, :value => current_user.UserName %>
					<div><%= f.text_field :name, autofocus: false, :class => "inputtextHome", :placeholder => "Shared flat name" %></div>
					<div class="placeholder"></div>
					<div><%= f.password_field :password, autocomplete: "off", :class => "inputtextHome", :placeholder => "Password" %></div>
					<div class="placeholder"></div>
					<div><%= f.submit "Create", :class => "signup" %></div>
				<% end %>
			</div>
		</td>
	</tr>
</table>