<%= render "shared/head" %>

<body id="page-home" class="" cz-shortcut-listen="true">

  <div id="container">

   <!-- #header -->
   <div id="header">
    <div class="column">
     <h1><a href="/">Roomie</a></h1>
     <ul id="topnav">
      <li class="home"><a href="" class="hovFade" style="opacity: 1;">Home</a></li>
      <li class="contact"><a id="contactMe" href="" class="hovFade" style="opacity: 0.899;">Contact</a></li>

      <%= javascript_include_tag :all %>

      <script type="text/javascript">
        <!--
        var userName = "unknonwn user"; // this needs some love to be cool
        document.getElementById("contactMe").setAttribute("href","mailto:info@roomie.xx?subject=Request - Ticket 1234&body=My dear roomie support,%0A%0A I got a problem...%0A%0ABest regards, %0A"+userName);
        //-->
      </script>

      <li class="logout"><a href="/logout" class="hovFade" style="opacity: 0.899;">Logout</a></li>
    </ul>
  </div>	
</div>
<!-- #header -->

<!-- #main -->
<div id="main">
  <div id="cuba-libre-top"></div>
  <!--<h2 id="tagline" class="imgtext">Slogan</h2>-->

    <div class="alert-init">
        <%= render 'shared/messages' %>
        <%= devise_error_messages! %>
      <!--% if notice %>
        <div class="alert alert-block alert-success"><%= notice %></div>
      % end %>
      % if alert %>
        <div class="alert alert-block alert-error"><%= alert %></div>
      % end %>-->
    </div>

  <div id="sites">
    <div id="sites-bottom"></div>

    <div id="sidebar">
      <div id="profile"></div>

      <!-- #nav -->
      <ul id="site-type-nav">
        <li class="navoverview"><a href="/main" class="hovFadeLeft"><span>Overview</span></a></li>		
        <li class="navaddjob"><a href="/job" class="hovFadeLeft"><span>Add Job</span></a></li>
        <li class="navmyprofile"><a href="/profile" class="hovFadeLeft"><span>My Profile</span></a></li>
        <li class="navtasks"><a href="/tasks" class="hovFadeLeft"><span>Task Management</span></a></li>    
        <li class="navlogout"><a href="/logout" class="hovFadeLeft"><span>Logout</span></a></li>
        <li id="current" class="current"></li>
      </ul>

      <!-- switches left nav's current item -->
      <% if current_page?('/job') %>
      <script type="text/javascript">
        <!-- 
        document.getElementById("current").style.top="35px"; 
          //-->
        </script>
        <% elsif current_page?('/profile') %>
        <script type="text/javascript">
          <!-- 
          document.getElementById("current").style.top="71px"; 
          //-->
        </script>
        <% elsif current_page?('/tasks') %>
        <script type="text/javascript">
          <!-- 
          document.getElementById("current").style.top="107px"; 
          //-->
        </script>
        <% end %>
        <!-- #nav -->
      </div>

      <div id="scroller-window">
        <div id="scroller-vertical">
         <div id="scroller-web-window">
           <div id="scroller-web-wrap">		

            <div class="site">

              <%= yield %>

            </div>

          </div>
        </div>		

        <div id="scroller-desk-window">
         <div id="scroller-desk-wrap">		

         </div>
       </div>

     </div>
   </div>

   <div id="gloss-overlay"></div>
 </div>
 <div id="cuba-libre-bot"></div>
</div>
<!-- #main -->

<!-- #footer -->
<div id="footer">
  <div id="pageFooter">
    <%= render :partial => "shared/footer" %>
  </div>
</div>
<!-- #footer -->

</div>
<!-- #container -->

</body>
</html>